<div class="d-flex black-bg text-light font-azeret justify-content-between py-3 px-4">
    <div class="socials-list d-flex">
        <a href="{{site.data.info.twitter}}" target="_blank" class="me-3">Twitter</a>
        <a href="{{site.data.info.linkedin}}" target="_blank" class="me-3">Linkedin</a>
        <a href="{{site.data.info.instagram}}" target="_blank">Instagram</a>
    </div>
    <div>Real estate surveyor in Manchester</div>
</div>
<div class="px-4 mt-5">
    <div class="d-flex mb-5">
        <img src="{{ site.baseurl }}/assets/img/logo.svg" alt="logo">
    </div>
    <div class="border border-1 border-bottom border-dark"></div>
</div>